{% extends 'base.html' %}
{% block body %}

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Create Playlist</h3>
      <p class="card-text">
        Add a title and give your playlist a description.
      </p>

      <form method="POST">
        {{ form.csrf_token }}

          {{ form.title.label }}
          {{ form.title }}
          {% for error in form.title.errors %}
            <li>{{ error }}</li>
          {% endfor %}

          {{ form.description.label }}
          {{ form.description }}
          {% for error in form.description.errors %}
            <li>{{ error }}</li>
          {% endfor %}

          {{ form.submit }}
      </form>
    </div>
  </div>

{% endblock %}
