{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h1>Welcome To Forever Playlist</h1>

    <h3>All Playlists</h3>

    {% if current_user.is_authenticated %}
      <a href="/create_playlist">create new playlist</a>
    {% endif %}

    {% for playlist_row in playlists[:3] | batch(3, '&nbsp;') %}
      <div class="row">
        {% for playlist in playlist_row %}
          <div class="col">
            {% include 'partials/single_playlist.html' %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
