{% extends 'base.html' %}
{% block body %}

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">Sign In</h3>
      <p class="card-text">
        Welcome to back to ForeverPlaylist.
      </p>

      <form method="POST">
        {{ form.csrf_token }}

        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
          <li>{{ error }}</li>
        {% endfor %}

        {{ form.submit }}
      </form>
    </div>
  </div>

{% endblock %}
