{% extends 'base.html' %}
{% block body %}

  <h1>Playlist: {{playlist.title}}</h1>

  {% if current_user == playlist.user %}
    <ul style="list-style: none;">
      <li>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            {% include 'partials/song_form.html' %}
          </div>
        </div>
      </li>
    </ul>
  {% endif %}

  <div class="container">
    {% for song_row in playlist.songs | batch(3) -%}
    <div class="row">
      {% for song in song_row %}
        <div class="col">
          {% include 'partials/song.html' %}
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

{% endblock %}
