{% extends 'base.html' %}

{% block body %}

  <div class="container">
    <h1>
      Welcome to {{ user.username }}'s profile
    </h1>

    <h2>Playlists</h2>

    {% if current_user.is_authenticated %}
      <a href="/create_playlist">create new playlist</a>
    {% endif %}

    {% for playlist_row in user.playlists | batch(3) -%}
      <div class="row">
        {% for playlist in playlist_row %}
          {% if playlist %}
            <div class="col">
              {% include 'partials/single_playlist.html' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
